#  一、导入数据

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('input/breast-cancer.csv',header=None)
data

          0   1   2   3   4   5   6   7   8   9   10
0    1000025   5   1   1   1   2   1   3   1   1   2
1    1002945   5   4   4   5   7  10   3   2   1   2
2    1015425   3   1   1   1   2   2   3   1   1   2
3    1016277   6   8   8   1   3   4   3   7   1   2
4    1017023   4   1   1   3   2   1   3   1   1   2
..       ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
694   776715   3   1   1   1   3   2   1   1   1   2
695   841769   2   1   1   1   2   1   1   1   1   2
696   888820   5  10  10   3   7   3   8  10   2   4
697   897471   4   8   6   4   3   4  10   6   1   4
698   897471   4   8   8   5   4   5  10   4   1   4

[699 rows x 11 columns]

In [3]:
columns = ['ID','Clump Thickness','Uniformity of Cell Size','Uniformity of Cell Shape',
           'Marginal Adhesion','Single Epithelial Cell Size','Bare Nuclei',
           'Bland Chromatin','Normal Nucleoli','Mitoses','Class']

In [4]:
list1 = np.arange(11)
list1

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [5]:
dict1 = dict(zip(list1,columns))
dict1

{0: 'ID',
 1: 'Clump Thickness',
 2: 'Uniformity of Cell Size',
 3: 'Uniformity of Cell Shape',
 4: 'Marginal Adhesion',
 5: 'Single Epithelial Cell Size',
 6: 'Bare Nuclei',
 7: 'Bland Chromatin',
 8: 'Normal Nucleoli',
 9: 'Mitoses',
 10: 'Class'}

In [6]:
data = data.rename(columns=dict1)

In [7]:
data.head(5)

,ID,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [8]:
data_ = data

In [9]:
data_

,ID,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [10]:
data_ is data

True

In [11]:
data_ = data.copy()

In [12]:
data_ is data

False

In [13]:
data_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           699 non-null    int64
 1   Clump Thickness              699 non-null    int64
 2   Uniformity of Cell Size      699 non-null    int64
 3   Uniformity of Cell Shape     699 non-null    int64
 4   Marginal Adhesion            699 non-null    int64
 5   Single Epithelial Cell Size  699 non-null    int64
 6   Bare Nuclei                  699 non-null    object
 7   Bland Chromatin              699 non-null    int64
 8   Normal Nucleoli              699 non-null    int64
 9   Mitoses                      699 non-null    int64
 10  Class                        699 non-null    int64
dtypes: int64(10), object(1)
memory usage: 60.2+ KB

# 二、处理缺失值

In [14]:
BN = data['Bare Nuclei']

In [15]:
BN[BN=='?']

23     ?
40     ?
139    ?
145    ?
158    ?
164    ?
235    ?
249    ?
275    ?
292    ?
294    ?
297    ?
315    ?
321    ?
411    ?
617    ?
Name: Bare Nuclei, dtype: object

In [16]:
BN[BN=='?'].count()

16

In [17]:
data_.replace('?',np.nan, inplace = True)

In [18]:
data_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           699 non-null    int64
 1   Clump Thickness              699 non-null    int64
 2   Uniformity of Cell Size      699 non-null    int64
 3   Uniformity of Cell Shape     699 non-null    int64
 4   Marginal Adhesion            699 non-null    int64
 5   Single Epithelial Cell Size  699 non-null    int64
 6   Bare Nuclei                  683 non-null    object
 7   Bland Chromatin              699 non-null    int64
 8   Normal Nucleoli              699 non-null    int64
 9   Mitoses                      699 non-null    int64
 10  Class                        699 non-null    int64
dtypes: int64(10), object(1)
memory usage: 60.2+ KB

In [19]:
data_['Bare Nuclei'] = data_['Bare Nuclei'].astype('float32')

In [20]:
data_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           699 non-null    int64
 1   Clump Thickness              699 non-null    int64
 2   Uniformity of Cell Size      699 non-null    int64
 3   Uniformity of Cell Shape     699 non-null    int64
 4   Marginal Adhesion            699 non-null    int64
 5   Single Epithelial Cell Size  699 non-null    int64
 6   Bare Nuclei                  683 non-null    float32
 7   Bland Chromatin              699 non-null    int64
 8   Normal Nucleoli              699 non-null    int64
 9   Mitoses                      699 non-null    int64
 10  Class                        699 non-null    int64
dtypes: float32(1), int64(10)
memory usage: 57.5 KB

In [21]:
list2 = np.arange(20)
list2

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [22]:
for i in list2:
    if i < 20:
        data_.iloc[np.random.randint(0,698),np.random.randint(1,10)] = np.nan

In [23]:
data_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           699 non-null    int64
 1   Clump Thickness              698 non-null    float64
 2   Uniformity of Cell Size      697 non-null    float64
 3   Uniformity of Cell Shape     697 non-null    float64
 4   Marginal Adhesion            698 non-null    float64
 5   Single Epithelial Cell Size  697 non-null    float64
 6   Bare Nuclei                  683 non-null    float32
 7   Bland Chromatin              694 non-null    float64
 8   Normal Nucleoli              695 non-null    float64
 9   Mitoses                      696 non-null    float64
 10  Class                        699 non-null    int64
dtypes: float32(1), float64(8), int64(2)
memory usage: 57.5 KB

In [24]:
data_dropna = data_.dropna(axis = 0, how = 'any')

In [25]:
data_dropna.info()

<class 'pandas.core.frame.DataFrame'>
Index: 663 entries, 0 to 698
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           663 non-null    int64
 1   Clump Thickness              663 non-null    float64
 2   Uniformity of Cell Size      663 non-null    float64
 3   Uniformity of Cell Shape     663 non-null    float64
 4   Marginal Adhesion            663 non-null    float64
 5   Single Epithelial Cell Size  663 non-null    float64
 6   Bare Nuclei                  663 non-null    float32
 7   Bland Chromatin              663 non-null    float64
 8   Normal Nucleoli              663 non-null    float64
 9   Mitoses                      663 non-null    float64
 10  Class                        663 non-null    int64
dtypes: float32(1), float64(8), int64(2)
memory usage: 59.6 KB

In [26]:
data_fillna = data_.fillna(value = data_.mean())

In [27]:
data_fillna.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           699 non-null    int64
 1   Clump Thickness              699 non-null    float64
 2   Uniformity of Cell Size      699 non-null    float64
 3   Uniformity of Cell Shape     699 non-null    float64
 4   Marginal Adhesion            699 non-null    float64
 5   Single Epithelial Cell Size  699 non-null    float64
 6   Bare Nuclei                  699 non-null    float32
 7   Bland Chromatin              699 non-null    float64
 8   Normal Nucleoli              699 non-null    float64
 9   Mitoses                      699 non-null    float64
 10  Class                        699 non-null    int64
dtypes: float32(1), float64(8), int64(2)
memory usage: 57.5 KB

In [28]:
data_B = data_[data_['Class'] == 2]

In [29]:
data_B

,ID,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5.0,1.0,1.0,1.0,2.0,1.0,3.0,1.0,1.0,2
1,1002945,5.0,4.0,4.0,5.0,7.0,10.0,3.0,2.0,1.0,2
2,1015425,3.0,1.0,1.0,1.0,2.0,2.0,3.0,1.0,1.0,2
3,1016277,6.0,8.0,8.0,1.0,3.0,4.0,3.0,7.0,1.0,2
4,1017023,4.0,1.0,1.0,3.0,2.0,1.0,3.0,1.0,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...
690,654546,1.0,1.0,1.0,3.0,2.0,1.0,1.0,1.0,1.0,2
692,714039,3.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,2
693,763235,3.0,1.0,1.0,1.0,2.0,1.0,2.0,1.0,2.0,2
694,776715,3.0,1.0,1.0,1.0,3.0,2.0,1.0,1.0,1.0,2
695,841769,2.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,2

In [30]:
data_M = data_[data_['Class'] == 4]

In [31]:
data_M

,ID,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
5,1017122,8.0,10.0,10.0,8.0,7.0,10.0,9.0,7.0,1.0,4
12,1041801,5.0,3.0,3.0,3.0,2.0,3.0,4.0,4.0,1.0,4
14,1044572,8.0,7.0,5.0,10.0,7.0,9.0,5.0,5.0,4.0,4
15,1047630,7.0,4.0,6.0,4.0,6.0,1.0,NaN,3.0,1.0,4
18,1050670,10.0,7.0,7.0,6.0,4.0,10.0,4.0,1.0,2.0,4
...,...,...,...,...,...,...,...,...,...,...,...
681,1371026,5.0,10.0,10.0,10.0,4.0,10.0,5.0,6.0,3.0,4
691,695091,5.0,10.0,10.0,5.0,4.0,5.0,4.0,4.0,1.0,4
696,888820,5.0,10.0,10.0,3.0,7.0,3.0,8.0,10.0,2.0,4
697,897471,4.0,8.0,6.0,4.0,3.0,4.0,10.0,6.0,1.0,4
698,897471,4.0,8.0,8.0,5.0,4.0,5.0,10.0,4.0,1.0,4

In [32]:
data_B.info()

<class 'pandas.core.frame.DataFrame'>
Index: 458 entries, 0 to 695
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           458 non-null    int64
 1   Clump Thickness              457 non-null    float64
 2   Uniformity of Cell Size      456 non-null    float64
 3   Uniformity of Cell Shape     456 non-null    float64
 4   Marginal Adhesion            457 non-null    float64
 5   Single Epithelial Cell Size  457 non-null    float64
 6   Bare Nuclei                  444 non-null    float32
 7   Bland Chromatin              454 non-null    float64
 8   Normal Nucleoli              456 non-null    float64
 9   Mitoses                      456 non-null    float64
 10  Class                        458 non-null    int64
dtypes: float32(1), float64(8), int64(2)
memory usage: 41.1 KB

In [33]:
data_B = data_B.fillna(value = data_B.mean())
data_B.info()

<class 'pandas.core.frame.DataFrame'>
Index: 458 entries, 0 to 695
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           458 non-null    int64
 1   Clump Thickness              458 non-null    float64
 2   Uniformity of Cell Size      458 non-null    float64
 3   Uniformity of Cell Shape     458 non-null    float64
 4   Marginal Adhesion            458 non-null    float64
 5   Single Epithelial Cell Size  458 non-null    float64
 6   Bare Nuclei                  458 non-null    float32
 7   Bland Chromatin              458 non-null    float64
 8   Normal Nucleoli              458 non-null    float64
 9   Mitoses                      458 non-null    float64
 10  Class                        458 non-null    int64
dtypes: float32(1), float64(8), int64(2)
memory usage: 41.1 KB

In [34]:
data_M.info()

<class 'pandas.core.frame.DataFrame'>
Index: 241 entries, 5 to 698
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           241 non-null    int64
 1   Clump Thickness              241 non-null    float64
 2   Uniformity of Cell Size      241 non-null    float64
 3   Uniformity of Cell Shape     241 non-null    float64
 4   Marginal Adhesion            241 non-null    float64
 5   Single Epithelial Cell Size  240 non-null    float64
 6   Bare Nuclei                  239 non-null    float32
 7   Bland Chromatin              240 non-null    float64
 8   Normal Nucleoli              239 non-null    float64
 9   Mitoses                      240 non-null    float64
 10  Class                        241 non-null    int64
dtypes: float32(1), float64(8), int64(2)
memory usage: 21.7 KB

In [35]:
data_M = data_M.fillna(value = data_M.mean())
data_M.info()

<class 'pandas.core.frame.DataFrame'>
Index: 241 entries, 5 to 698
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           241 non-null    int64
 1   Clump Thickness              241 non-null    float64
 2   Uniformity of Cell Size      241 non-null    float64
 3   Uniformity of Cell Shape     241 non-null    float64
 4   Marginal Adhesion            241 non-null    float64
 5   Single Epithelial Cell Size  241 non-null    float64
 6   Bare Nuclei                  241 non-null    float32
 7   Bland Chromatin              241 non-null    float64
 8   Normal Nucleoli              241 non-null    float64
 9   Mitoses                      241 non-null    float64
 10  Class                        241 non-null    int64
dtypes: float32(1), float64(8), int64(2)
memory usage: 21.7 KB

In [36]:
data_ = pd.concat((data_M,data_B))

In [37]:
data_

,ID,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
5,1017122,8.0,10.0,10.0,8.0,7.0,10.0,9.0000,7.0,1.0,4
12,1041801,5.0,3.0,3.0,3.0,2.0,3.0,4.0000,4.0,1.0,4
14,1044572,8.0,7.0,5.0,10.0,7.0,9.0,5.0000,5.0,4.0,4
15,1047630,7.0,4.0,6.0,4.0,6.0,1.0,5.9875,3.0,1.0,4
18,1050670,10.0,7.0,7.0,6.0,4.0,10.0,4.0000,1.0,2.0,4
...,...,...,...,...,...,...,...,...,...,...,...
690,654546,1.0,1.0,1.0,3.0,2.0,1.0,1.0000,1.0,1.0,2
692,714039,3.0,1.0,1.0,1.0,2.0,1.0,1.0000,1.0,1.0,2
693,763235,3.0,1.0,1.0,1.0,2.0,1.0,2.0000,1.0,2.0,2
694,776715,3.0,1.0,1.0,1.0,3.0,2.0,1.0000,1.0,1.0,2
695,841769,2.0,1.0,1.0,1.0,2.0,1.0,1.0000,1.0,1.0,2

In [38]:
data_.info()

<class 'pandas.core.frame.DataFrame'>
Index: 699 entries, 5 to 695
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           699 non-null    int64
 1   Clump Thickness              699 non-null    float64
 2   Uniformity of Cell Size      699 non-null    float64
 3   Uniformity of Cell Shape     699 non-null    float64
 4   Marginal Adhesion            699 non-null    float64
 5   Single Epithelial Cell Size  699 non-null    float64
 6   Bare Nuclei                  699 non-null    float32
 7   Bland Chromatin              699 non-null    float64
 8   Normal Nucleoli              699 non-null    float64
 9   Mitoses                      699 non-null    float64
 10  Class                        699 non-null    int64
dtypes: float32(1), float64(8), int64(2)
memory usage: 62.8 KB

In [39]:
data_ = data_.astype('int32')

In [40]:
data_.info()

<class 'pandas.core.frame.DataFrame'>
Index: 699 entries, 5 to 695
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           699 non-null    int32
 1   Clump Thickness              699 non-null    int32
 2   Uniformity of Cell Size      699 non-null    int32
 3   Uniformity of Cell Shape     699 non-null    int32
 4   Marginal Adhesion            699 non-null    int32
 5   Single Epithelial Cell Size  699 non-null    int32
 6   Bare Nuclei                  699 non-null    int32
 7   Bland Chromatin              699 non-null    int32
 8   Normal Nucleoli              699 non-null    int32
 9   Mitoses                      699 non-null    int32
 10  Class                        699 non-null    int32
dtypes: int32(11)
memory usage: 35.5 KB

# 三、处理重复值

In [41]:
data_.duplicated()

5      False
12     False
14     False
15     False
18     False
       ...
690    False
692    False
693    False
694    False
695    False
Length: 699, dtype: bool

In [42]:
data_.duplicated().value_counts()

False    690
True       9
Name: count, dtype: int64

In [43]:
data_.drop_duplicates(inplace = True)

In [44]:
data_.info()

<class 'pandas.core.frame.DataFrame'>
Index: 690 entries, 5 to 695
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           690 non-null    int32
 1   Clump Thickness              690 non-null    int32
 2   Uniformity of Cell Size      690 non-null    int32
 3   Uniformity of Cell Shape     690 non-null    int32
 4   Marginal Adhesion            690 non-null    int32
 5   Single Epithelial Cell Size  690 non-null    int32
 6   Bare Nuclei                  690 non-null    int32
 7   Bland Chromatin              690 non-null    int32
 8   Normal Nucleoli              690 non-null    int32
 9   Mitoses                      690 non-null    int32
 10  Class                        690 non-null    int32
dtypes: int32(11)
memory usage: 35.0 KB

In [45]:
data_["ID"].is_unique

False

In [46]:
data_.drop_duplicates(subset=['ID'], inplace = True)

In [47]:
data_.info()

<class 'pandas.core.frame.DataFrame'>
Index: 645 entries, 5 to 695
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           645 non-null    int32
 1   Clump Thickness              645 non-null    int32
 2   Uniformity of Cell Size      645 non-null    int32
 3   Uniformity of Cell Shape     645 non-null    int32
 4   Marginal Adhesion            645 non-null    int32
 5   Single Epithelial Cell Size  645 non-null    int32
 6   Bare Nuclei                  645 non-null    int32
 7   Bland Chromatin              645 non-null    int32
 8   Normal Nucleoli              645 non-null    int32
 9   Mitoses                      645 non-null    int32
 10  Class                        645 non-null    int32
dtypes: int32(11)
memory usage: 32.8 KB

## 小结

一、导入数据 pd.read_csv() / pd.read_excel()

二、处理缺失值

替换 replace()

删除缺失值  dropna()

填充缺失值  fillna()

三、处理重复值

drop_duplicates()

# 四、处理分类变量

## 1. n个分类变量转换为<n个变量

In [48]:
data_

,ID,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
5,1017122,8,10,10,8,7,10,9,7,1,4
12,1041801,5,3,3,3,2,3,4,4,1,4
14,1044572,8,7,5,10,7,9,5,5,4,4
15,1047630,7,4,6,4,6,1,5,3,1,4
18,1050670,10,7,7,6,4,10,4,1,2,4
...,...,...,...,...,...,...,...,...,...,...,...
689,654546,1,1,1,1,2,1,1,1,8,2
692,714039,3,1,1,1,2,1,1,1,1,2
693,763235,3,1,1,1,2,1,2,1,2,2
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2

In [49]:
thick_ = np.arange(1,11)
thick_

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [50]:
thick_category = ['thin','thin','thin',
                'medium','medium','medium','medium',
                'thick','thick','thick',]

In [51]:
thick_category_ = ['thin']*3 +['medium']*4 + ['thick']*3
thick_category_

['thin',
 'thin',
 'thin',
 'medium',
 'medium',
 'medium',
 'medium',
 'thick',
 'thick',
 'thick']

In [52]:
dict2 = dict(zip(thick_,thick_category_))
dict2

{1: 'thin',
 2: 'thin',
 3: 'thin',
 4: 'medium',
 5: 'medium',
 6: 'medium',
 7: 'medium',
 8: 'thick',
 9: 'thick',
 10: 'thick'}

In [53]:
data_['Thickness_class'] = data_['Clump Thickness'].map(dict2)

In [54]:
data_

,ID,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class,Thickness_class
5,1017122,8,10,10,8,7,10,9,7,1,4,thick
12,1041801,5,3,3,3,2,3,4,4,1,4,medium
14,1044572,8,7,5,10,7,9,5,5,4,4,thick
15,1047630,7,4,6,4,6,1,5,3,1,4,medium
18,1050670,10,7,7,6,4,10,4,1,2,4,thick
...,...,...,...,...,...,...,...,...,...,...,...,...
689,654546,1,1,1,1,2,1,1,1,8,2,thin
692,714039,3,1,1,1,2,1,1,1,1,2,thin
693,763235,3,1,1,1,2,1,2,1,2,2,thin
694,776715,3,1,1,1,3,2,1,1,1,2,thin
695,841769,2,1,1,1,2,1,1,1,1,2,thin

## 2. 连续变量转换为分类变量

In [55]:
bins = [0,4,8,11]

In [56]:
labels = ['small','medium','big']

In [57]:
pd.cut(data_['Uniformity of Cell Shape'],bins,labels=labels)

5         big
12      small
14     medium
15     medium
18     medium
        ...
689     small
692     small
693     small
694     small
695     small
Name: Uniformity of Cell Shape, Length: 645, dtype: category
Categories (3, object): ['small' < 'medium' < 'big']

In [58]:
data_['Cell Size'] = pd.cut(data_['Uniformity of Cell Shape'],bins,labels=labels)

In [59]:
data_

,ID,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class,Thickness_class,Cell Size
5,1017122,8,10,10,8,7,10,9,7,1,4,thick,big
12,1041801,5,3,3,3,2,3,4,4,1,4,medium,small
14,1044572,8,7,5,10,7,9,5,5,4,4,thick,medium
15,1047630,7,4,6,4,6,1,5,3,1,4,medium,medium
18,1050670,10,7,7,6,4,10,4,1,2,4,thick,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...
689,654546,1,1,1,1,2,1,1,1,8,2,thin,small
692,714039,3,1,1,1,2,1,1,1,1,2,thin,small
693,763235,3,1,1,1,2,1,2,1,2,2,thin,small
694,776715,3,1,1,1,3,2,1,1,1,2,thin,small
695,841769,2,1,1,1,2,1,1,1,1,2,thin,small

## 3. 分类变量转换为数字或哑变量

In [60]:
data_['Thickness_classnum'] = data_['Thickness_class'].replace(to_replace=['thin','medium','thick'],value=[1,2,3])

In [61]:
data_

,ID,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class,Thickness_class,Cell Size,Thickness_classnum
5,1017122,8,10,10,8,7,10,9,7,1,4,thick,big,3
12,1041801,5,3,3,3,2,3,4,4,1,4,medium,small,2
14,1044572,8,7,5,10,7,9,5,5,4,4,thick,medium,3
15,1047630,7,4,6,4,6,1,5,3,1,4,medium,medium,2
18,1050670,10,7,7,6,4,10,4,1,2,4,thick,medium,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
689,654546,1,1,1,1,2,1,1,1,8,2,thin,small,1
692,714039,3,1,1,1,2,1,1,1,1,2,thin,small,1
693,763235,3,1,1,1,2,1,2,1,2,2,thin,small,1
694,776715,3,1,1,1,3,2,1,1,1,2,thin,small,1
695,841769,2,1,1,1,2,1,1,1,1,2,thin,small,1

In [62]:
pd.get_dummies(data_['Cell Size'])

     small  medium    big
5    False   False   True
12    True   False  False
14   False    True  False
15   False    True  False
18   False    True  False
..     ...     ...    ...
689   True   False  False
692   True   False  False
693   True   False  False
694   True   False  False
695   True   False  False

[645 rows x 3 columns]

In [63]:
data_=pd.concat((data_,pd.get_dummies(data_['Cell Size'],prefix = 'Cell Size ')),axis=1)

In [64]:
data_

,ID,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class,Thickness_class,Cell Size,Thickness_classnum,Cell Size _small,Cell Size _medium,Cell Size _big
5,1017122,8,10,10,8,7,10,9,7,1,4,thick,big,3,False,False,True
12,1041801,5,3,3,3,2,3,4,4,1,4,medium,small,2,True,False,False
14,1044572,8,7,5,10,7,9,5,5,4,4,thick,medium,3,False,True,False
15,1047630,7,4,6,4,6,1,5,3,1,4,medium,medium,2,False,True,False
18,1050670,10,7,7,6,4,10,4,1,2,4,thick,medium,3,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
689,654546,1,1,1,1,2,1,1,1,8,2,thin,small,1,True,False,False
692,714039,3,1,1,1,2,1,1,1,1,2,thin,small,1,True,False,False
693,763235,3,1,1,1,2,1,2,1,2,2,thin,small,1,True,False,False
694,776715,3,1,1,1,3,2,1,1,1,2,thin,small,1,True,False,False
695,841769,2,1,1,1,2,1,1,1,1,2,thin,small,1,True,False,False

In [65]:
data_.set_index('ID',inplace=True)
data_

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class,Thickness_class,Cell Size,Thickness_classnum,Cell Size _small,Cell Size _medium,Cell Size _big
ID,,,,,,,,,,,,,,,,
1017122,8,10,10,8,7,10,9,7,1,4,thick,big,3,False,False,True
1041801,5,3,3,3,2,3,4,4,1,4,medium,small,2,True,False,False
1044572,8,7,5,10,7,9,5,5,4,4,thick,medium,3,False,True,False
1047630,7,4,6,4,6,1,5,3,1,4,medium,medium,2,False,True,False
1050670,10,7,7,6,4,10,4,1,2,4,thick,medium,3,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
654546,1,1,1,1,2,1,1,1,8,2,thin,small,1,True,False,False
714039,3,1,1,1,2,1,1,1,1,2,thin,small,1,True,False,False
763235,3,1,1,1,2,1,2,1,2,2,thin,small,1,True,False,False
776715,3,1,1,1,3,2,1,1,1,2,thin,small,1,True,False,False
841769,2,1,1,1,2,1,1,1,1,2,thin,small,1,True,False,False

In [66]:
new_index = np.random.permutation(data_.index)

In [67]:
data_ = data_.reindex(index = new_index)
data_

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class,Thickness_class,Cell Size,Thickness_classnum,Cell Size _small,Cell Size _medium,Cell Size _big
ID,,,,,,,,,,,,,,,,
1200952,5,8,7,7,10,10,5,7,1,4,medium,medium,2,False,True,False
1084584,5,4,4,9,2,10,5,6,1,4,medium,small,2,True,False,False
769612,3,1,1,2,2,1,1,1,1,2,thin,small,1,True,False,False
434518,3,1,1,1,2,1,2,1,1,2,thin,small,1,True,False,False
1225799,10,6,4,3,10,10,9,10,1,4,thick,small,3,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636375,5,1,1,1,2,1,1,1,1,2,medium,small,2,True,False,False
1180194,5,10,8,10,8,10,3,6,3,4,medium,medium,2,False,True,False
1223426,1,1,1,1,2,1,3,1,1,2,thin,small,1,True,False,False
242970,5,7,7,1,5,8,3,4,1,2,medium,medium,2,False,True,False
1206695,1,5,8,6,5,8,7,10,1,4,thin,medium,1,False,True,False

In [68]:
data_.columns

Index(['Clump Thickness', 'Uniformity of Cell Size',
       'Uniformity of Cell Shape', 'Marginal Adhesion',
       'Single Epithelial Cell Size', 'Bare Nuclei', 'Bland Chromatin',
       'Normal Nucleoli', 'Mitoses', 'Class', 'Thickness_class', 'Cell Size',
       'Thickness_classnum', 'Cell Size _small', 'Cell Size _medium',
       'Cell Size _big'],
      dtype='object')

In [69]:
data_ = data_.reindex(columns=['Clump Thickness', 'Uniformity of Cell Size',
       'Uniformity of Cell Shape', 'Marginal Adhesion',
       'Single Epithelial Cell Size', 'Bare Nuclei', 'Bland Chromatin',
       'Normal Nucleoli', 'Mitoses', 'Class',
       'Thickness_classnum', 'Cell Size _small', 'Cell Size _medium',
       'Cell Size _big', 'Thickness_class', 'Cell Size'])
data_

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class,Thickness_classnum,Cell Size _small,Cell Size _medium,Cell Size _big,Thickness_class,Cell Size
ID,,,,,,,,,,,,,,,,
1200952,5,8,7,7,10,10,5,7,1,4,2,False,True,False,medium,medium
1084584,5,4,4,9,2,10,5,6,1,4,2,True,False,False,medium,small
769612,3,1,1,2,2,1,1,1,1,2,1,True,False,False,thin,small
434518,3,1,1,1,2,1,2,1,1,2,1,True,False,False,thin,small
1225799,10,6,4,3,10,10,9,10,1,4,3,True,False,False,thick,small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636375,5,1,1,1,2,1,1,1,1,2,2,True,False,False,medium,small
1180194,5,10,8,10,8,10,3,6,3,4,2,False,True,False,medium,medium
1223426,1,1,1,1,2,1,3,1,1,2,1,True,False,False,thin,small
242970,5,7,7,1,5,8,3,4,1,2,2,False,True,False,medium,medium
1206695,1,5,8,6,5,8,7,10,1,4,1,False,True,False,thin,medium

In [70]:
data_.info()

<class 'pandas.core.frame.DataFrame'>
Index: 645 entries, 1200952 to 1206695
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Clump Thickness              645 non-null    int32
 1   Uniformity of Cell Size      645 non-null    int32
 2   Uniformity of Cell Shape     645 non-null    int32
 3   Marginal Adhesion            645 non-null    int32
 4   Single Epithelial Cell Size  645 non-null    int32
 5   Bare Nuclei                  645 non-null    int32
 6   Bland Chromatin              645 non-null    int32
 7   Normal Nucleoli              645 non-null    int32
 8   Mitoses                      645 non-null    int32
 9   Class                        645 non-null    int32
 10  Thickness_classnum           645 non-null    int64
 11  Cell Size _small             645 non-null    bool
 12  Cell Size _medium            645 non-null    bool
 13  Cell Size _big               645 non-null    bool
 14  Thickness_class              645 non-null    object
 15  Cell Size                    645 non-null    category
dtypes: bool(3), category(1), int32(10), int64(1), object(1)
memory usage: 40.4+ KB

In [71]:
data_.to_excel('output/data_.xlsx')

# 五、简单数据分析（透视表，交叉表）

In [72]:
data_.describe()

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class,Thickness_classnum
count,645.000000,645.000000,645.000000,645.000000,645.000000,645.000000,645.000000,645.000000,645.000000,645.000000,645.000000
mean,4.497674,3.217054,3.296124,2.906977,3.282171,3.610853,3.510078,2.970543,1.620155,2.728682,1.767442
std,2.858258,3.079589,2.995452,2.916652,2.245992,3.660967,2.463140,3.117383,1.744529,0.963237,0.755021
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000
25%,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,2.000000,1.000000
50%,4.000000,1.000000,2.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000,2.000000,2.000000
75%,6.000000,5.000000,5.000000,4.000000,4.000000,7.000000,5.000000,4.000000,1.000000,4.000000,2.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000,3.000000

In [73]:
data_['Cell Size'].value_counts()

Cell Size
small     465
medium    118
big        62
Name: count, dtype: int64

In [74]:
data_.pivot_table(index=['Cell Size'])

TypeError: agg function failed [how->mean,dtype->object]

In [75]:
data_.pivot_table(index=['Cell Size','Thickness_class'])

                           Bare Nuclei  Bland Chromatin  Cell Size _big  \
Cell Size Thickness_class
small     medium              2.220930         2.622093             0.0
          thick               7.433333         4.900000             0.0
          thin                1.395437         2.106464             0.0
medium    medium              7.306122         5.836735             0.0
          thick               7.368421         5.684211             0.0
          thin                8.500000         5.916667             0.0
big       medium              8.090909         7.454545             1.0
          thick               7.410256         6.743590             1.0
          thin               10.000000         4.000000             1.0

                           Cell Size _medium  Cell Size _small     Class  \
Cell Size Thickness_class
small     medium                         0.0               1.0  2.337209
          thick                          0.0               1.0  3.866667
          thin                           0.0               1.0  2.045627
medium    medium                         1.0               0.0  3.755102
          thick                          1.0               0.0  3.964912
          thin                           1.0               0.0  3.833333
big       medium                         0.0               0.0  4.000000
          thick                          0.0               0.0  4.000000
          thin                           0.0               0.0  4.000000

                           Clump Thickness  Marginal Adhesion   Mitoses  \
Cell Size Thickness_class
small     medium                  4.872093           2.029070  1.267442
          thick                   9.166667           4.333333  2.033333
          thin                    1.851711           1.349810  1.095057
medium    medium                  5.408163           5.979592  1.959184
          thick                   9.210526           4.403509  2.421053
          thin                    2.583333           5.500000  2.250000
big       medium                  5.409091           7.681818  3.227273
          thick                   9.205128           6.461538  3.641026
          thin                    2.000000          10.000000  4.000000

                           Normal Nucleoli  Single Epithelial Cell Size  \
Cell Size Thickness_class
small     medium                  1.959302                     2.517442
          thick                   4.300000                     4.233333
          thin                    1.197719                     2.095057
medium    medium                  5.877551                     5.142857
          thick                   5.719298                     4.701754
          thin                    5.666667                     5.500000
big       medium                  7.545455                     6.590909
          thick                   7.128205                     6.871795
          thin                    9.000000                     7.000000

                           Thickness_classnum  Uniformity of Cell Shape  \
Cell Size Thickness_class
small     medium                          2.0                  1.831395
          thick                           3.0                  3.300000
          thin                            1.0                  1.296578
medium    medium                          2.0                  6.265306
          thick                           3.0                  6.526316
          thin                            1.0                  6.583333
big       medium                          2.0                  9.909091
          thick                           3.0                  9.871795
          thin                            1.0                 10.000000

                           Uniformity of Cell Size
Cell Size Thickness_class
small     medium                          1.843023
          thick                           4.366667
          thin                            1.250951
medium    medium                          6.224490
          thick                           6.192982
          thin                            5.666667
big       medium                          9.090909
          thick                           9.358974
          thin                            7.000000

In [76]:
pd.crosstab(data_['Cell Size'],data_['Class'])

Class        2    4
Cell Size
small      402   63
medium       8  110
big          0   62

In [77]:
pd.crosstab(data_['Cell Size'],data_['Class'],margins=True)

Class        2    4  All
Cell Size
small      402   63  465
medium       8  110  118
big          0   62   62
All        410  235  645

## Groupby机制——拆分-应用-联合（Split-Apply-Combine）

In [78]:
data_.groupby(['Cell Size','Thickness_class'])

/tmp/ipykernel_2062994/150213809.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  data_.groupby(['Cell Size','Thickness_class'])

In [79]:
data_.groupby(['Cell Size','Thickness_class']).mean()

/tmp/ipykernel_2062994/3172295647.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  data_.groupby(['Cell Size','Thickness_class']).mean()

                           Clump Thickness  Uniformity of Cell Size  \
Cell Size Thickness_class
small     medium                  4.872093                 1.843023
          thick                   9.166667                 4.366667
          thin                    1.851711                 1.250951
medium    medium                  5.408163                 6.224490
          thick                   9.210526                 6.192982
          thin                    2.583333                 5.666667
big       medium                  5.409091                 9.090909
          thick                   9.205128                 9.358974
          thin                    2.000000                 7.000000

                           Uniformity of Cell Shape  Marginal Adhesion  \
Cell Size Thickness_class
small     medium                           1.831395           2.029070
          thick                            3.300000           4.333333
          thin                             1.296578           1.349810
medium    medium                           6.265306           5.979592
          thick                            6.526316           4.403509
          thin                             6.583333           5.500000
big       medium                           9.909091           7.681818
          thick                            9.871795           6.461538
          thin                            10.000000          10.000000

                           Single Epithelial Cell Size  Bare Nuclei  \
Cell Size Thickness_class
small     medium                              2.517442     2.220930
          thick                               4.233333     7.433333
          thin                                2.095057     1.395437
medium    medium                              5.142857     7.306122
          thick                               4.701754     7.368421
          thin                                5.500000     8.500000
big       medium                              6.590909     8.090909
          thick                               6.871795     7.410256
          thin                                7.000000    10.000000

                           Bland Chromatin  Normal Nucleoli   Mitoses  \
Cell Size Thickness_class
small     medium                  2.622093         1.959302  1.267442
          thick                   4.900000         4.300000  2.033333
          thin                    2.106464         1.197719  1.095057
medium    medium                  5.836735         5.877551  1.959184
          thick                   5.684211         5.719298  2.421053
          thin                    5.916667         5.666667  2.250000
big       medium                  7.454545         7.545455  3.227273
          thick                   6.743590         7.128205  3.641026
          thin                    4.000000         9.000000  4.000000

                              Class  Thickness_classnum  Cell Size _small  \
Cell Size Thickness_class
small     medium           2.337209                 2.0               1.0
          thick            3.866667                 3.0               1.0
          thin             2.045627                 1.0               1.0
medium    medium           3.755102                 2.0               0.0
          thick            3.964912                 3.0               0.0
          thin             3.833333                 1.0               0.0
big       medium           4.000000                 2.0               0.0
          thick            4.000000                 3.0               0.0
          thin             4.000000                 1.0               0.0

                           Cell Size _medium  Cell Size _big
Cell Size Thickness_class
small     medium                         0.0             0.0
          thick                          0.0             0.0
          thin                           0.0             0.0
medium    medium                         1.0             0.0
          thick                          1.0             0.0
          thin                           1.0             0.0
big       medium                         0.0             1.0
          thick                          0.0             1.0
          thin                           0.0             1.0

In [80]:
table = pd.crosstab(data_['Cell Size'],data_['Class'])
table

Class        2    4
Cell Size
small      402   63
medium       8  110
big          0   62

In [81]:
table.stack()

Cell Size  Class
small      2        402
           4         63
medium     2          8
           4        110
big        2          0
           4         62
dtype: int64

In [82]:
table.stack().unstack()

Class        2    4
Cell Size
small      402   63
medium       8  110
big          0   62

In [83]:
series = table.stack()
series

Cell Size  Class
small      2        402
           4         63
medium     2          8
           4        110
big        2          0
           4         62
dtype: int64

In [84]:
series.index

MultiIndex([( 'small', 2),
            ( 'small', 4),
            ('medium', 2),
            ('medium', 4),
            (   'big', 2),
            (   'big', 4)],
           names=['Cell Size', 'Class'])

In [85]:
series.reset_index()

  Cell Size  Class    0
0     small      2  402
1     small      4   63
2    medium      2    8
3    medium      4  110
4       big      2    0
5       big      4   62

## 小结

一、导入数据 pd.read_csv() / pd.read_excel()

二、处理缺失值

替换 replace()

删除缺失值  dropna()

填充缺失值  fillna()

三、处理重复值

drop_duplicates()

四、处理分类变量

1. n个分类变量转换为<n个分类变量 map()

2. 连续变量转换为分类变量 pd.cut()

3. 分类变量转换为哑变量 pd.get_dummies

五、简单数据分析

describe()

value_counts()

pivot_table()

pd.crosstab()

groupby(

stack()-unstack()